<h1>Inscrivez vous</h1>
<form action="/users" method="POST">
    <div class="form-group">
    <label>nom de l'utilisateur</label>
    <input type="text" name="first_name">
    </div>

    <div class="form-group">
    <label>Prénom de l'utilisateur</label>
    <input type="text" name="last_name">
    </div>

    <div class="form-group">
    <label>Déscription</label>
    <textarea name="description"></textarea>
    </div>

    <div class="form-group">
    <label for="email">Saisir votre adresse émail</label>
    <input type="email" id="email" name="email" size="30" required>
    </div>

     


    <div class="form-group">
    <label>age</label>
    <input type="text" name="age">
    </div>

    <div class="form-group">
    <label>Ville</label>
    <input type="text" name="city">
    </div>

    <div class="form-group">
    <label>Password</label>
    <input type="password" name="password">
    </div>

    <div class="form-group">
    <label>Password confirmation</label>
    <input type="password" name="password_confirmation">
    </div>

    <div class="form-group">
    <button type="submit">Valider</button>
    </div>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    </form>
    <% if @user.errors.any? %>
    <p>Nous n'avons pas réussi à créer votre compte pour la (ou les) raison(s) suivante(s) :</p>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>