<h1>Editer le Gossip</h1>
<%= form_for @potin do |f| %>
    <div class="form-group">
    <label>Titre de Gossip</label>
    <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
    <label>Contenu de Gossip</label>
    <%= f.text_area :content, class: 'form-control' %>
    </div>

    <div class="form-group">
    <button class="form-control" type="submit">Modifier le Gossip</button>
    </div>

    <% end %>

   


