<h1>Créer un nouveau Gossip</h1>
<form action="/gossips" method="POST">
    <div class="form-group">
    <label>Titre du Gossip</label>
    <input class="form-control"  type="text" name="title">
    </div>

    <div class="form-group">
    <label>Contenu de Gossip</label>
    <textarea class="form-control" name="content"></textarea>
    </div>

    <div class="form-group">
    <button class="form-control" type="submit">Créer le Gossip</button>
    </div>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    </form>

    <% if @gossip.errors.any? %>
    <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
    <ul>
      <% @gossip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>


